/* body {
  color: orange;
} */

.Card {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  background-color: gray;
}
/* 
.Form {
  margin-left: 400px;
  margin-right: 400px;
} */

/* .Form.Group .Form.Label .Form.Control {
  margin-left: 450px;
  margin-right: 450px;
} */

.Title {
  margin-top: 100px;
  margin-left: 700px;
  /* margin-right: 100px; */
  margin-bottom: 100px;
}

.Button {
  margin-top: 100px;

  /* margin-right: 100px; */
  margin-bottom: 100px;
}
